* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to bottom, #31af85, #1d27a7);
}

h1 {
	font-size: 4rem;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.233),
		0px 18px 23px rgba(0, 0, 0, 0.295);
}

.slogan {
	padding: 50px 0 100px 0;
	text-align: center;
	color: #c5c5c5;
	font-size: 1.3rem;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.233),
		0px 18px 23px rgba(0, 0, 0, 0.295);
}

.countdown {
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: top;
	padding-top: 200px;
}

.countdown-container {
	display: flex;
	justify-content: space-evenly;
	background-color: #3638a5;
	border-radius: 15px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.082), 0 2px 2px rgba(255, 255, 255, 0),
		0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
		0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.content {
	padding: 40px;
}

.cd-number {
	font-size: 5rem;
	font-weight: bolder;
	text-align: center;
	color: #def7e0;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.233),
		0px 18px 23px rgba(0, 0, 0, 0.295);
}

.cd-text {
	font-size: 1.3rem;
	font-weight: lighter;
	padding: 50px;
	text-align: center;
	color: #93a194;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.233),
		0px 18px 23px rgba(0, 0, 0, 0.295);
}

.dev {
	display: flex;
	padding: 400px 200px 200px 200px;
}

.proj-by {
	/* display: flex; */
	color: #aaaaaa;
	padding-left: 750px;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.233),
		0px 18px 23px rgba(0, 0, 0, 0.295);
}

.bigger {
	display: flex;
	font-size: 1.5rem;
	font-style: italic;
	padding-left: 20px;
	font-weight: bold;
}
